* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.map-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.map-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    aspect-ratio: 16/9;
    height: 100%;
    max-width: calc(100vh / (9/16));
    max-height: calc(100vw / (16/9));
    z-index: 10;
    margin: auto;
}

.sidebar {
    background-color: #ffffff;
    color: #000000;
    font-family: monospace;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 8px;
    border-radius: 4px;
    opacity: 0.7;
}

.map-button {
    z-index: 100;
    height: 2.5em;
    width: 2.5em;
    background-color: #ffffff;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05), 0 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

mapbox-search-box {
    z-index: 100;
    padding: 6px 12px;
}

.icon-compass {
    background-image: url("/public/images/compass.svg");
}

.icon-download {
    background-image: url("/public/images/download.svg");
}

.icon-edit {
    background-image: url("/public/images/edit.svg");
}

.icon-globe {
    background-image: url("/public/images/globe.svg");
}

.icon-delete {
    background-image: url("/public/images/cross.svg");
}

.icon-help {
    background-image: url("/public/images/help.svg");
}

.icon-grid {
    background-image: url("/public/images/grid.svg");
}

.icon-layer {
    background-image: url("/public/images/layer.svg");
}

.icon-label {
    background-image: url("/public/images/label.svg");
}

.icon-gallery {
    background-image: url("/public/images/gallery.svg");
}

.icon-like {
    background-image: url("/public/images/like.svg");
}

.icon-dislike {
    background-image: url("/public/images/dislike.svg");
}

.icon-upload {
    background-image: url("/public/images/upload.svg");
}

.controlbar {
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5em;
    z-index: 1000;
    margin: 0.5em 1.2em 0.5em 0.5em ;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.top-left {
    top: 0;
    left: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}